.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  transition: transform 300ms;
}

.logo:hover {
  transform: scale(1.05);
}

.card {
  padding: 2em;
}

.card code {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
}

.description {
  color: #888;
  margin-top: 2rem;
}
